<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        @if(ViewBag.estaLogeado){
            <nav>
                <img src="/Imagenes/AveBlanca" alt="">
                <ul>
                    <a href="@Url.Action("irChatbot", "Home")"><li>CHATBOT</li></a>
                    <a href="@Url.Action("irListarTerapeutas", "Home")"><li>TERAPEUTAS</li></a>
                    <a href="@Url.Action("irDiario", "Home")"><li>DIARIO</li></a>
                    <a href="@Url.Action("irAyudaRapida","Home")"><li>AYUDA RAPIDA</li></a>
                    <a href="@Url.Action("CerrarSesion", "Account")"><li>CERRAR SESION</li></a>
                </ul>
            </nav>
        }else{
            <nav>
                <img src="/Imagenes/AveBlanca" alt="">
            </nav>
        }
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <h2>Soporte</h2>
        <h2>Contacto</h2>

        <div class = "Redes">
        <img src="" alt="">   
        <img src="" alt=""> 
        </div>
        <p>Copyright © 2025 THERA Argentina</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
