<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>

<body>
    <header>
        @if(ViewBag.estaLogeado){
            <nav>
                <img src="/Imagenes/AveBlanca" alt="">
                <ul>
                    <a href="@Url.Action("Chatbot", "Home")"><li>CHATBOT</li></a>
                    <a href="@Url.Action("ListarTerapeutas", "Home")"><li>TERAPEUTAS</li></a>
                    <a href="@Url.Action("Diario", "Home")"><li>DIARIO</li></a>
                    <a href="@Url.Action("AyudaRapida","Home")"><li>AYUDA RAPIDA</li></a>
                    <a href="@Url.Action("CerrarSesion", "Account")"><li>CERRAR SESION</li></a>
                </ul>
            </nav>
        }else{
            <nav>
            <img src="/Imagenes/AveBlanca" alt="">
            </nav>
        }
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer-custom text-center">
        <div class="container py-4">
            <!-- Logo -->
            <div class="footer-logo mb-3">
                <h2 class="thera-logo">Thera</h2>
            </div>

            <!-- Línea divisoria -->
            <hr class="footer-divider">

            <!-- Íconos -->
            <div class="footer-icons d-flex justify-content-center gap-4 my-3">
                <img src="img/facebook.png" alt="Facebook" class="social-iconyoutube.png
                img/linkedin.png
            </div>

            <!-- Links -->
            <div class="footer-links my-2">
                <a href="#" class="footer-link">Soporte</a>
    -separator">|</span>
                #Contacto</a>
            </div>

            <!-- Copyright -->
            <p class="footer-copy mt-3">© 2025 THERA Argentina</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
