<div class="perfil-paciente">
    <div class="foto-perfil">
        <img src="@ViewBag.paciente.foto" alt="Imagen del paciente">
    </div>
    
    <h1 class="nombre-completo">@ViewBag.paciente.nombre @ViewBag.paciente.apellido</h1>
    
    <a href="@Url.Action("irPerfilTerapeutaPublico", "Home", new{idTerapeuta = @ViewBag.paciente.idTerapeuta})"
    class="list-group-item list-group-item-action d-flex align-items-center">
        
    </a>
    <form class="form-perfil" action="@Url.Action("guardarPerfilPaciente", "Account")" method="post">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" value="@ViewBag.paciente.nombre" required>
        </div>
        
        <div class="campo">
            <label>Apellido</label>
            <input type="text" name="apellido" value="@ViewBag.paciente.apellido" required>
        </div>

        <div class="campo">
            <label>DNI (sin puntos):</label>
            <input type="number" name="DNI" value="@ViewBag.paciente.DNI" required>
        </div>
        
        <div class="campo">
            <label>Email</label>
            <input type="email" name="correo" value="@ViewBag.paciente.correo" required>
        </div>
        
        <div class="campo">
            <label>Ubicación</label>
            <input type="text" name="ubicacion" value="@ViewBag.paciente.ubicacion" required>
        </div>
        
        <div class="campo">
            <label>Fecha de nacimiento</label>
            <input type="date" name="fechaNacimiento" value="@ViewBag.paciente.fechaNacimiento" required>
        </div>
        
        <div class="campo">
            <label>Teléfono</label>
            <input type="tel" name="telefono" value="@ViewBag.paciente.telefono" required>
        </div>
        
        <div class="campo">
            <label>Ocupación</label>
            <input type="text" name="ocupacion" value="@ViewBag.paciente.ocupacion" required>
        </div>
        
        <div class="campo">
            <label>Obra social</label>
            <select name="idObraSocial">
                @foreach (ObraSocial obraSocial in ViewBag.obrasSociales)
                {
                    if (ViewBag.paciente.IdObraSocial == obraSocial.id)
                    {
                        <option value="@obraSocial.id" selected>@obraSocial.nombre</option>
                    }
                    else
                    {
                        <option value="@obraSocial.id">@obraSocial.nombre</option>
                    }
                }
            </select>
        </div>
        
        <button type="submit" class="btn-guardar">Guardar cambios</button>
    </form>
    
    <a href="@Url.Action("CerrarSesion", "Account")" class="link-cerrar">
        <button class="btn-cerrar">Cerrar sesión</button>
    </a>
</div>
