@* @if(@ViewBag.nota.favorito != null && @ViewBag.nota.favorito){
    <img src="" alt="bookmark seleccionado">
} 
else{
    <img src="" alt="bookmark no seleccionado">
} *@
<form method = "post" action = '@Url.Action("agregarNota", "Home")' class="nota">

   <div class="nota-group">
            <label class="nota-label">Título:</label>
            <input type="text" value="Añadir título" name="titulo" class="nota-input">
        </div>

        <div class="nota-group">
            <label class="nota-label">Disparadora:</label>
            <select name="idDisparadora" class="nota-select">
                @foreach (Disparadora disparadora in @ViewBag.disparadoras)
                {
                    <option value="@disparadora.id">@disparadora.pregunta</option>
                }
            </select>
        </div>

        <div class="nota-group">
            <label class="nota-label">Descripción:</label>
            <textarea name="descripcion" class="nota-textarea">Añadir texto</textarea>
        </div>

        <div class="nota-group nota-checkbox-group">
            <label class="nota-label">Compartir con terapeuta</label>
            <input type="hidden" name="visibleTerapeuta" value="false" />
            <input type="checkbox" name="visibleTerapeuta" value="true" class="nota-checkbox">
        </div>

        <input type="submit" value="Agregar" class="nota-submit">
</form>