

<div class = "Diario">
        <h1>Diario</h1>
    <section class = "Nota">
        <div class="add-note-card mb-4">
            <h4>Añadir nota</h4>
            <a href="@Url.Action("irAgregarNota", "Home")"><span class="plus-icon">+</span>
        </div>
        
        @if (ViewBag.diario != null)
        {
            foreach (Nota nota in ViewBag.diario)
            {
                <a href="@Url.Action("irNota", "Home", new {id = @nota.id})">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                <h5 class="card-title">@nota.fecha</h5>
                <div class="card-header">@nota.titulo</div>
                <div class="card-body text-primary">  
                    <p class="card-text">@nota.descripción</p>
                </div>
                </div>
                </a>

            }
            
        }
        else
        { 
            <p class="text-muted">No hay notas disponibles.</p>
        }
    <section>
</div>
    
