@{
    ViewData["Title"] = "Thera - Tu impulso, tu cambio";
}

@if(ViewBag.solicitudesCantidad > 0){
    <a href="@Url.Action("irNotificaciones", "Home")"><div>
        Tenés @ViewBag.solicitudesCantidad notificaciones pendientes!
    </div></a>
}

<div class="HomeconPaciente">
    <div class="HomecoPacienteContenedor">

        <div class="ParteDeArribaConTerapeuta">
            <img src="~/imagenes/header.jpg" alt="Thera" class="imagenArribaDetodo"/>
            <h2 class="titulo-principal">Thera</h2>
            <p class="subtitulo">Tu impulso, tu cambio</p>
        </div>

        <div class="FechaYClimaHomeConTerapeuta">
            <h6 class="textoFecha">@DateTime.Now.ToString("dddd d 'de' MMMM")</h6>
            <span class="textoClima">55° / 40° ☀️</span>
        </div>

        <div class="FraseHomeconTerapeuta">
            <h5>Tomá un momento para vos</h5>
        </div>

        <div class="BotonesOpcionesAyudaConTerapeuta">
            <a href="@Url.Action("irRespiraciones", "Home")" class="botonOpcionesAT">Respiración</a>
            <a href="@Url.Action("irFrases", "Home")" class="botonOpcionesAT">Frases</a>
            <a href="@Url.Action("irAudios", "Home")" class="botonOpcionesAT">Audios</a>
            <a href="@Url.Action("irChatBot", "Home")" class="botonOpcionesAT">Chatbot</a>
        </div>

        <p class="NostasOpcionConTerapeuta">También podés escribir lo que necesites</p>

        <div class="botonNotasConTerapeuta">
            <a href="@Url.Action("irDiario", "Home")" class="boton-naranja">
                Tus Notas →
            </a>
        </div>

        <div class="EjercicioUltimaOpcion">
            <p class="tituloEjercicio">Ejercicio de la última sesión (@ViewBag.fecha)</p>
            <form method="post" action='@Url.Action("guardarRespuestaPaciente", "Home")'>
                <div class="tarjeta">
                    <p class="textoEjercicio">@ViewBag.tarea</p>
                    @if(@ViewBag.respuesta == ""){  
                        <textarea class="entrada-texto" rows="4" placeholder="Escribí aquí..." name="Respuesta"></textarea>
                    }else{
                        <textarea class="entrada-texto" rows="4" name="Respuesta">@ViewBag.respuesta</textarea>
                    }
                    <input type="submit" value = "Guardar">
                </div>
            </form>
        </div>

        <div class="BuscarTerapeutaConTerapeuta">
            <p class="textoTerapeutaCon">¿Te sentís incómodo con tu terapeuta?<br>No hay problema</p>
            <a href="@Url.Action("irBuscarTerapeuta", "Home")" class="boton-borde">
                Buscar un nuevo terapeuta →
            </a>
        </div>

    </div>
</div>
