<div class="homePaciente">
@if(ViewBag.solicitudesCantidad > 0){
    <a href="@Url.Action("irNotificaciones", "Home")"><div>
        Tenés @ViewBag.solicitudesCantidad notificaciones!
    </div></a>
}
<img src=""> @*IMAGEN DEL FIGMA*@
    @for (int i = 0; i< @ViewBag.terapeutas.Count; i++)
    {
    <a href="@Url.Action("irPerfilTerapeutaPublico", "Home", new {idTerapeuta = @ViewBag.terapeutas[i].id})">
        <div>
            <h3>@ViewBag.terapeutas[i].nombre @ViewBag.terapeutas[i].apellido</h3>
            <h4>@ViewBag.terapeutas[i].Universidad • @ViewBag.cantResenas[i] reseñas</h4>        
        </div>
    </a>
    }
    <div>
        <a href='@Url.Action("irDiario", "Home")'>Tus notas</a>
    </div>
    <a href='@Url.Action("irChatTerapeuta", "Home")'>Chat terapeuta</a>
    <a href='@Url.Action("irAyudaRapida", "Home")'>Ayuda rapida</a>
    @*@foreach (Nota nota in ViewBag.notas)
    {
        <div>

            <button><a href='@Url.Action("irNota", "Home", new {id = @nota.id})'>@nota.titulo</a></button>

        </div>
    }*@

</div>
        <a href="@Url.Action("irBuscarTerapeuta", "Home")">buscar TERAPEUTAS</a>
          <a href="@Url.Action("verPerfilPaciente", "Account")">ver perfil paciente</a>

