@* @if(@ViewBag.nota.favorito != null && @ViewBag.nota.favorito){
    <img src="" alt="bookmark seleccionado">
} 
else{
    <img src="" alt="bookmark no seleccionado">
} *@
<form action = '@Url.Action("modificarNota", "Home")'>
    <input type="hidden" value = "@ViewBag.nota.id" name = "idNota">
    <input type="text" value="@ViewBag.nota.titulo" name = "titulo">
    <textarea type="text" name = "descripcion">@ViewBag.nota.descripción</textarea>
    @if(@ViewBag.nota.visibleParaTerapeuta)
    {
        <label>Compartir con terapeuta</label>
        <input type="checkbox" checked name = "visibleTerapeuta">
    }
    else
    {
        <label>Compartir con terapeuta</label>
        <input type="checkbox" name = "visibleTerapeuta">
    }
    <input type="submit" value = "Editar">
</form>