<h1>@ViewBag.paciente.nombre @ViewBag.paciente.apellido: Sesión @ViewBag.sesion.Fecha</h1>
<h2>Anotaciones</h2>
<section>
<form action="@Url.Action("GuardarDatosSesión", "HomeTerapeuta")">
    <div>
        <textarea name="Anotaciones" id="">@ViewBag.sesion.Anotaciones</textarea>
    </div>
    <div>
    <input type="text" name="Tarea" value="@ViewBag.sesion.Tarea">
    <p>Respuesta de @ViewBag.paciente.nombre: @ViewBag.sesion.Respuesta</p>
    </div>
</form>
</section>