<h1>@ViewBag.paciente.nombre @ViewBag.paciente.apellido: Sesión @ViewBag.sesion.Fecha</h1>
<h2>Anotaciones</h2>
<section>
<form action="@Url.Action("GuardarDatosSesión", "HomeTerapeuta")">
    <input type="hidden" value = "@ViewBag.sesion.Id" name = "idSesion">
    <div>
        <textarea name="Anotaciones" id="">@ViewBag.sesion.Anotaciones</textarea>
    </div>
    <div>
    <textarea name="Tarea" id="">@ViewBag.sesion.Tarea</textarea>
    <p>Respuesta de @ViewBag.paciente.nombre: @ViewBag.sesion.RespuestaPaciente</p>
    </div>
    <input type="submit" value="Guardar cambios">
</form>
</section>